<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="notification4.css">
</head>
<body class="group" >
    <div class="notification-container">
    <form class="notification-form">
        <h2>REPLY</h2>
        
        <div class="form-group">
            <label><input type="text" placeholder="text"></label>
            
            
            
        <div class="form-group">
            <button>Submit</button>
        </div>
    </form>
</div>
</body>
</html>