<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=<>, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="staff.css">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
</head>
<body>
    <div class="rish">
        <h1>TIME TABLE & STAFF</h1>
    </div>
    <div class="gaya3">
    <button><i class='bx bx-add-to-queue' style="font-size: 24px;"></i></button>
    </div>
    <div class="tab">
<table>
    <tr>
        <th>Period</th>
        <th>I</th>
        <th>II</th>
        <th>III</th>
        <th>IV</th>
        <th>V</th>
        <th>actions</th>
    </tr>
    <tr>
        <th>Subject</th>
        <td>maths</td>
        <td>english</td>
        <td>IT</td>
        <td>malayalam</td>
        <td>chemistry</td>
        <td> <button>Edit</button>
            <button>delete</button> </td>
    </tr>
    <tr>
        <th>Staff</th>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td><button>Edit</button>
            <button>delete</button></td>
    </tr>
    

</table>
</div>
</body>
</html>