body{
    background-color: steelblue;
    padding: 10%;
}
.password-container {
    
    max-width: 500px;
    margin: 100px auto;
    background-color: rgba(249, 249, 249, 0.758);
    padding: 60px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(49, 19, 19, 0.758);
}
.password-form h2 {
    text-align: center;
    margin-bottom: 20px;
    color:black;
}
.password {
    margin-bottom: 20px;
}
.password a{
    margin-left: 70%;
}
.password input {
    width: 90%;
    margin-top: 18px;
    padding: 15px;
    background-color: transparent;
    border-radius: 20px;
    
}

.password button {
    height: 40px;
    width: 200px;
    background-color: rgb(25, 248, 99);
    padding: 10px;
    border-radius: 10px;
    margin-left: 140px;

    
}

.form-group button  :hover {
    background-color: rgb(11, 11, 11);
}


