body {
    background-color: rgb(237, 230, 172);
    padding: 20px;
    height: 100vh;
}

.password-container {
    width: 450px;
    margin: 100px auto;
    background-color: rgba(250, 248, 248, 0.758);
    padding: 20px;
    border-radius:20PX;
    
    box-shadow: 0 0 10px rgba(241, 237, 237, 0.758);
}

.password-form h2 {
    text-align: center;
    margin-bottom: 20px;
    color: black;
}

.form-group {
    margin-bottom: 20px;
    display: flex; 
    align-items: center;
    justify-content: center;
}

label {
    margin-right: 5px;
    white-space: nowrap;
}

.form-group select {
    padding: 15px;
    border-radius:20PX;
    background-color: transparent;
    width: 500px;
    border-color: black;
    
}

.form-group input {
    padding: 15px;
    border-radius:20PX;
    background-color: transparent;
    width: 500px;
    
}

.form-group button {
    width: 100px;
    background-color: rgb(7, 247, 31);
    padding: 10px;
    border-radius: 15PX;
    transition: 0.3s ease;
}

.form-group button:hover {
    background-color: black;
    color: rgb(202, 244, 13); 
}

.form-group ::placeholder {
    color: rgb(22, 23, 22);
}