body{
    background-color: aliceblue;
    background-image: url(painting-person-suffering-from-anxiety);
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
}


.tab
{
    
    display: flex;
    justify-content: center;
    height: 10vh;
    font-size: medium;
    align-items: center;
    margin-bottom: 10px;
}
.rish h1{
    text-align: center;
    align-items: center;
    margin-top: 15%;
}
.gaya3{
    margin-left: 1200px;
   
}
table {
    width: 50%;
    border-collapse: collapse;
    padding: 20px;
    background-color: cornflowerblue;

tr {
    border: 2px solid rgb(0, 0, 0);
}