<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="homepage.css">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    
</head>
<body>

    <div class="home">
        <i class='bx bxs-lock' style='color:#1e1a1a; font-size: 24px;'  ></i>
        <i class='bx bxs-bell-ring' style='color:#1e1818; font-size: 24px;'  ></i>
        <i class='bx bx-log-out' style='color:#271d1d; font-size: 24px;' ></i>
    </div> 
    <div class="page">
        <div class="link"> 
            
             <a href="#" style="font-size: 20px;"><i class='bx bx-buildings'></i>DEPARTMENT</a>
        </div>
        <div class="link">
            
              
              
            <a href="#" style="font-size: 20px;"><i class='bx bxs-graduation icons' style="color: rgb(0, 0, 0);" ></i>COURSE</a>
        </div>
        <div class="link">
            <a href="#" style="font-size: 20px;"><i class='bx bx-ghost' style="display: block; font-size: 25px;" ></i>STAFF</a>
        </div>
        <div class="link">
            <a href="#" style="font-size:  20px;"><i class='bx bx-cool' style="display: block;"></i>STUDENT</a>
        </div>
        <div class="link">
            <a href="#" style="font-size: 20px;"><i class='bx bx-angry' style="display: block;"></i>COMPLAINT</a>
        </div>
    </div>
</body>
</html> 