<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="login.css">
</head>
<body class="group" >
    <div class="login-container">
    <form class="login-form">
        <h2>LOGIN</h2>
        
        <div class="form-group">
            
            <label for="html">UserName:</label>
             <input type="text" placeholder="Username">            
        </div>
        <div class="form-group">
            <label="html">Password:</label>
            <input type="password" placeholder="password">
        </div>
        <div class="form-group">
            <button>login</button>
        </div>
    </form>
</div>
</body>
</html>