<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=<>, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="notification5.css">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
</head>
<body>
    <div class="rish">
        <h1>NOTIFICATION</h1>
    </div>
    <div class="gaya3">
        <i class='bx bx-search-alt-2' style="margin-left: 10px;"></i> 
        <input type="text " placeholder="search here" >

        
        
     
    </div>
    <div class="tab">
<table>
    <tr>
        <th>Notifications</th>
        <th>Date</th>
        <th>Time</th>
        <th>actions</th>
    </tr>
    <tr>
        <td></td>
        <td></td>
        <td></td>
        <td><button><i class='bx bxs-edit'></i></button>
            <button><i class='bx bxs-trash-alt'></i></button></td>
    </tr>
    <tr>
        <td></td>
        <td></td>
        <td></td>
        <td><button><i class='bx bxs-edit'></i></button>
            <button><i class='bx bxs-trash-alt'></i></button></td>
    </tr>
    <tr>
        <td></td>
        <td></td>
        <td></td>
        <td><button><i class='bx bxs-edit'></i></button>
            <button><i class='bx bxs-trash-alt'></i></button></td>
    </tr>
    


</table>
</div>
</body>
</html>