body{
    background-color: steelblue;
    background-image: url(person-defying-laws-gravity-by-floating-air.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    
}


.tab
{
    
    display: flex;
    justify-content: center;
    height: 25vh;
    gap: 20px;
font-size: medium;
    align-items: center;
}
.rish h1{
    text-align: center;
    align-items: center;
    margin-top: 15%;
}
.gaya3{
    margin-left: 1450px;
   
}
table {
    border: 1px solid black;
    width: 50%;
    border-collapse: collapse;
    padding: 20px;
    background-color: honeydew;
}
tr {
    border: 2px solid rgb(0, 0, 0);
}

th, td {
    padding: 10px;
    text-align: center;
}
