<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=<>, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="viewcourse.css">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
</head>
<body>
    
    <div class="rish">
        <h1>COURSE DETAILS</h1>
    </div>
    <div class="gaya3">
    <button><i class='bx bx-add-to-queue' style="font-size: 24px;"></i></button>
    </div>
    <div class="tab">
<table>
    <tr>
        <th>SI.no</th>
        <th>courses</th>
        <th>actions</th>
    </tr>
    <tr>
            <td>1.</td>
            <td>Bsc computer science</td>  
            <td><button><i class='bx bxs-edit'></i></button>
            <button><i class='bx bxs-trash-alt'></i></button></td>

    </tr>
    


</table>
</div>
</body>
</html>