<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="hod.css">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    
</head>
<body>

    <div class="home">
        <div class="rin">
            <i class='bx bxs-user' style='color:#1e1818; font-size: 32px;'></i>
        </div>
        <i class='bx bxs-lock' style='color:#1e1a1a; font-size: 24px;'  ></i>
        <i class='bx bxs-bell-ring' style='color:#1e1818; font-size: 24px;'  ></i>
    </div> 
   
    <div class="page">
        <div class="link"> 
            
             <a href="#" style="font-size: 20px;"><i class='bx bx-user-plus' style="display: block; font-size: 24px;"></i>STAFF ALLOCATION</a>
        </div>
        <div class="link">
            
              
              
            <a href="#" style="font-size: 20px;"><i class='bx bx-notepad' style="display:block; font-size: 24px;" ></i>TIME TABLE</a>
        </div>
        <div class="link">
            <a href="#" style="font-size: 20px;"><i class='bx bx-user-check' style="display: block; font-size: 24px;" ></i>ATTENDANCE</a>
        </div>
</body>
</html> 