body{
    background-color: rgba(252, 250, 248, 0.877);
    height: 100vh;
}

.nav{
    height: 100px;
    background-color: rgb(14, 5, 39);
    position: relative;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    position: fixed;
    width: 100%;
    top:0;
}
button{
    height: 45px;
    margin-right: 50px;
    margin-top:50px;
    width: 60px;
}
img{
    width: 2000px;
    height: 750px;

}
h1{
    color: aliceblue;
    margin-left:500px ;
    margin-top:40px ;

    
}
