<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form method=GET>
  <label>name</label>
        <input type="text"><br>        
        <label>password:</label>
        <input type="password"><br>
        <label>gender:</label>    
        <input type="radio" name="gen">female<input type="radio" name="gen">male<br>
        <label>hobbies</label>
        <input type="checkbox">drawing
        <input type="checkbox">reading
        <input type="checkbox">dancing<br>
        <label>country</label>
        <select>
            <option>india</option>
            <option>USA</option>
                </select>
        <input type="submit">
        <input type="reset">
        
</body>
</html>
