<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>TIME TABLE</h1>
</body>
<table border="5px">
    <tr>
        <th>Day</th>
        <th>I</th>
        <th>II</th>
        <th>III</th>
        <th>IV</th>
        <th>V</th>
        <th>VI</th>
        </tr>
        <tr>
            <th>monday</th>
            <td>physics</td>
            <td>chemistry</td>
            <td>maths</td>
            <td>pt</td>
            <td>malayalam</td>
            <td>english</td>
            </tr>
            <tr>
                <th>Tuesday</th>
                <td>chemistry</td>
                <td>maths</td>
                <td>physics</td>
                <td>malayalam</td>
                <td>english</td>
                <td>social</td>
                </tr>
                <tr>
                    <th>Wednesday</th>
                    <td>malayalam</td>
                    <td>chemistry</td>
                    <td>social</td>
                    <td>pt</td>
                    <td>malayalam</td>
                    <td>english</td>
                    </tr>
                    <tr>
                        <th>Thursday</th>
                        <td>physics</td>
                        <td>pt</td>
                        <td>maths</td>
                        <td>pt</td>
                        <td>malayalam</td>
                        <td>english</td>
                        </tr>
                        <tr>
                            <th>Friday</th>
                            <td>physics</td>
                            <td>chemistry</td>
                            <td>hindi</td>
                            <td>maths</td>
                            <td>malayalam</td>
                            <td>english</td>
                            </tr>
</table>
            <a href="youtube.com"><img src="beautiful.jpg"</a>


</html>