<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=<device-width>, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1> ONAM CELEBRATION 2K24</h1>
    <h2><u> malsarangal</u></h2>
    <h3>pulikkali</h3>
    <h4>pookala malsaram</h4>
    <h5>uri thall</h5>
    <h6>sundharik pott thodal</h6>
</body>
<table border="1px">
    <tr>
        <th>program</th>
        <th>time</th>
    </tr>
    <tr>
        <td>inauguration</td>
        <td>9:00 am</td>
    </tr>
    <tr>
        <td>thiruvathira</td>
        <td>10:00 am</td>
    </tr>
    <tr>
        <td>flash mob</td>
        <td>11:30 am</td>
    </tr>
    <tr>
        <td>mega sadhya</td>
        <td>12:30 pm</td>
    </tr>
</table>
<ul>
    <li><u><b>cultural programs</b></u></li>
    </ul>
    <ol>
        <li>kadhakkali</li>
        <li>thiruvadhira</li>
        <li>folk dance</li>
        <li>mohiniyattam</li>
    </ol>

</html>