body {
    background-color: lightpink;
    height: 100vh;
}

.profile-container {
    max-width: 500px;
    margin: 100px auto;
    background-color: rgba(249, 249, 249, 0.758);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(49, 19, 19, 0.758);
}

.profile-form h2 {
    text-align: center;
    margin-bottom: 20px;
    color: black;
}

.icon {
    text-align: center; /* Center the icon */
}

.profile-group {
    margin-bottom: 35px;
}

.profile-group label {
    display: block; /* Make label a block element */
    margin-bottom: 15px; /* Space between label and input */
}

.profile-group input,
.profile-group select {
    width: calc(100% - 30px); /* Full width minus padding */
    padding: 15px;
    background-color: transparent;
    border-radius: 20px;
    margin-left: 0; /* Remove left margin */
    margin-top: 10px;
}
.profile-group radio{
    padding: 50px;
    
}

.profile-group button {
    width: 120px;
    height: 40px;
    background-color: gold;
    padding: 10px;
    border-radius: 10px;
    margin-left: 190px;
    transition: 0.3s ease;
}

.profile-group button:hover {
    background-color: rgb(45, 241, 6);
}

.profile input,
.profile select {

    margin-bottom: 50px;
}